<% include partials/header.ejs %>
    <!-- Middle part -->
    <section class="bodySection">
        <div class="container-fluid">
            <div class="aboutME">
                <img class="selfImage" src="images/slef-image.png" alt="self-imgae">
                <div class="text">
                    <h1 class="aboutTitle">About me</h1>
                    <h5>Web Developer</h5>
                    <p class="para">Hello, my name is AlejandroZhengZheng. I am a software engineering student seeking for a job that will begin in January. I'm interested in design and testing; thus, your web design engineer role would be a wonderful fit for me. Throughout
                        the course, I worked on many webs' development projects, and last summer I interned at XXX Company, where I built web architecture, did testing, and wrote a summary report. I think you've made some fantastic products, and I'm particularly
                        intrigued by 3D web sites. </p>
                    <a href="contactMe.html"><button type="button" class="btn-talk">Let's talk</button></a>
                    <a href="files/resume.pdf">My Resume</a>
                </div>

            </div>
        </div>
    </section>
    <% include partials/footer.ejs %>