<!--
Author:Alejandro zhengzheng
Student ID: 301083081
Date:2022 - 02 -05 -->

<% include partials/header.ejs %>

    <!-- Middle part -->
    <section class="bodySection">
        <div class="container-fluid">
            <h1 class="welcome">Welcome <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to my page!</h1>

        </div>
    </section>

    <% include partials/footer.ejs %>