<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->

<!--
Author:Alejandro zhengzheng
Student ID: 301083081
Date:2022 - 02 -05 -->

<% include partials/header.ejs %>

    <!-- Middle part -->
    <section class="bodySection">
        <div class="container-fluid">
            <h1 class="welcome">Welcome <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to my page!</h1>

        </div>
    </section>

    <% include partials/footer.ejs %>