<% include partials/header.ejs %>

    <!-- Middle part -->
    <section class="bodySection">
        <div class="container-fluid">
            <h1 class="welcome">Welcome <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to my page!</h1>

        </div>
    </section>

    <h1>
        <%= title%>
    </h1>
    <p>welcome to user
        <%= name%>
    </p>

    <% include partials/footer.ejs %>